apiVersion: v1
kind: PersistentVolume
metadata:
  annotations:
    pv.kubernetes.io/bound-by-controller: "yes"
  creationTimestamp: null
  finalizers:
  - kubernetes.io/pv-protection
  name: {{ params.pv_name }}
  selfLink: "/api/v1/persistentvolumes/{{ params.pv_name }}"
spec:
  accessModes: {{ params.accessModes }}
  capacity:
    storage: {{ params.size }} 
  nfs:
    path: "/backup/PVCs/{{ params.namespace }}/{{ params.pv_name }}"
    server: {{ params.serverNFS }}
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ params.storageClass }}
status: {}
